.nav{
    position: fixed;
    top: 0;
    width: 100%; /* This is important */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    height: 30px;

    /* Animations */
    transition-timing-function: ease-in ; /* The effect */
    transition: all 0.5s; /* The time effect */
}

.nav__black {
    background-color: #111;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    object-fit: contain;
    width: 30px;
}